:root {
  --mobile-nav-width: 0px;
  --aside-width: 70px;
  --mine-shaft: rgba(34, 34, 34, 1);
  --mine-shaft-0: rgba(34, 34, 34, 0);
  --spring-wood: rgba(247, 246, 241, 1);
  --white: rgba(255, 255, 255, 1);
  --white-80: rgba(255, 255, 255, 0.8);
  --container-padding: 70px;
  --small-padding: 20px;
}
@media (max-width: 960px) {
  :root {
    --mobile-nav-width: 200px;
    --container-padding: 60px;
    --small-padding: 0px;
  }
}
@media (max-width: 767px) {
  :root {
    --aside-width: 55px;
    --container-padding: 30px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  background-color: var(--spring-wood);
  color: var(--mine-shaft);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.body-wrapper {
  height: 100%;
  width: calc(100vw + var(--mobile-nav-width));
  display: flex;
  position: relative;
  left: calc(-1 * var(--mobile-nav-width));
  transition: left 0.35s cubic-bezier(0.33, 1, 0.68, 1);
}
.body-wrapper.nav-active {
  left: 0;
}
.body-wrapper main {
  flex-grow: 1;
  display: flex;
}
.body-wrapper main .page-content {
  height: 100%;
  flex-grow: 1;
}

nav {
  display: none;
  height: 100%;
  width: var(--mobile-nav-width);
  background-color: var(--mine-shaft);
  color: var(--white-80);
}
nav a {
  color: var(--white-80);
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  display: block;
  font-size: 0.8em;
  font-family: "Space Mono", monospace;
  padding: 1.2em 1em;
  border-bottom: 1px solid #333333;
  transition: color 0.2s;
}
nav a:hover {
  color: var(--white);
}
@media (max-width: 960px) {
  nav {
    display: block;
  }
}

aside {
  width: var(--aside-width);
  height: 100%;
  border-right: 1px solid var(--mine-shaft);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside .logo .burger {
  display: none;
  padding: 1em 0;
  border: 0;
  border-bottom: 1px solid var(--mine-shaft);
  width: 100%;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}
aside .logo .burger span {
  display: block;
  position: relative;
  background-color: var(--mine-shaft);
  height: 2px;
  width: 1.2em;
  margin: 0.25em auto;
  transition: transform 0.1s;
}
aside .logo .burger.active span:nth-child(1) {
  transform: translateY(calc(0.25em + 2px)) rotate(-40deg);
}
aside .logo .burger.active span:nth-child(2) {
  opacity: 0;
}
aside .logo .burger.active span:nth-child(3) {
  transform: translateY(calc(-0.25em - 2px)) rotate(40deg);
}
@media (max-width: 960px) {
  aside .logo .burger {
    display: block;
  }
}
aside .logo a {
  display: block;
  width: 100%;
  margin: 1.5em 0;
}
aside .logo a img {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 960px) {
  aside .logo a {
    margin: 1em auto;
  }
}
aside .social a {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  border-top: 1px solid var(--mine-shaft);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}
aside .social a svg {
  width: 40%;
  height: auto;
  display: block;
}
aside .social a svg path {
  transition: fill 0.2s;
}
aside .social a:hover {
  background-color: var(--mine-shaft);
}
aside .social a:hover svg path {
  fill: var(--spring-wood);
}

.page-content {
  display: flex;
}
.page-content .page {
  flex-grow: 0;
  width: var(--aside-width);
  overflow: hidden;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--mine-shaft);
  cursor: pointer;
  transition: flex-grow 0.6s cubic-bezier(0.65, 0, 0.35, 1), border-left-color 0s 0.5s;
}
@media (max-width: 960px) {
  .page-content .page {
    border-left: 0;
  }
}
.page-content .page.header {
  width: 0;
  border-left: 0;
}
.page-content .page.current {
  flex-grow: 1;
  cursor: default;
}
.page-content .page.current .sidebar .number {
  transform: none !important;
}
.page-content .page .sidebar {
  width: var(--aside-width);
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 1.5em 0;
  font-family: "Space Mono", monospace;
  font-size: 0.85em;
}
@media (max-width: 960px) {
  .page-content .page .sidebar {
    display: none;
  }
}
.page-content .page .sidebar .title {
  writing-mode: sideways-lr;
}
.page-content .page .sidebar .number {
  position: relative;
  transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.page-content .page .sidebar:hover .number {
  transform: scale(3) translate(-0.5em, 0.1em);
}
.page-content .page .content {
  width: calc(100% - var(--aside-width));
  float: right;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 7em;
  padding-right: var(--aside-width);
}
@media (max-width: 960px) {
  .page-content .page .content {
    float: none;
    padding: 0 var(--container-padding);
    width: 100%;
    overflow: unset;
  }
}
.page-content .page .content h2 {
  text-transform: uppercase;
  letter-spacing: -2px;
}
.page-content section.page:first-of-type {
  border-left-color: var(--mine-shaft-0);
}
.page-content.header-active section.page:first-of-type {
  border-left-color: var(--mine-shaft);
  transition: flex-grow 0.6s cubic-bezier(0.65, 0, 0.35, 1), border-left-color 0s 0.1s;
}
.page-content .header {
  position: relative;
}
.page-content .header .text {
  position: absolute;
  bottom: 6em;
  left: var(--container-padding);
}
.page-content .header .text h1 {
  text-transform: uppercase;
  font-size: max(6.5vw, 3.75em);
  margin: 0 0 0.35em 0;
  line-height: 1;
  letter-spacing: -0.1em;
}
@media (max-width: 767px) {
  .page-content .header .text h1 {
    font-size: max(2.5em, 6.5vw);
  }
}
.page-content .header .text p {
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
  letter-spacing: -2px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .page-content .header .text p {
    font-size: 1.2em;
  }
}
@media (max-width: 480px) {
  .page-content .header .text p {
    font-size: 1em;
  }
}
.page-content .header .text p .who {
  display: inline-block;
  background: rgb(255, 192, 192);
  padding: 0 5px;
  height: 1.5em;
  vertical-align: middle;
  position: relative;
}
@media (max-width: 767px) {
  .page-content .header .text p .who {
    padding: 0 2px;
  }
}
.page-content .header .text p .who::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 70%;
  width: 1px;
  background-color: var(--mine-shaft);
  transform: translateX(0.75ch);
}
@media (max-width: 960px) {
  .page-content .header {
    height: 100%;
  }
}
@media (max-width: 960px) {
  .page-content {
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    box-sizing: border-box;
    width: calc(100vw - var(--aside-width));
  }
  .page-content .page {
    width: 100%;
    cursor: default;
    border: 0;
    transition: none;
  }
  .page-content .page.header {
    width: 100%;
  }
}

.content.about-me h2 {
  border-bottom: 1px solid var(--mine-shaft);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  margin-left: var(--small-padding);
  margin-right: var(--small-padding);
}
.content.about-me .header {
  margin-left: var(--small-padding);
  margin-right: var(--small-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5em;
  padding-top: 2em;
}
@media (max-width: 767px) {
  .content.about-me .header {
    grid-template-columns: 1fr;
  }
}
.content.about-me .header .image-slider {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid var(--mine-shaft);
  position: relative;
  overflow: hidden;
  background-color: var(--mine-shaft);
}
.content.about-me .header .image-slider .controls {
  position: absolute;
  z-index: 1;
  bottom: 0.5em;
  right: 0.5em;
  display: flex;
  gap: 0.5em;
}
.content.about-me .header .image-slider .controls button {
  height: 2.5em;
  width: 2.5em;
  background: transparent;
  outline: none;
  border: 1px solid var(--mine-shaft);
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content.about-me .header .image-slider .controls button svg {
  height: 45%;
  width: auto;
}
.content.about-me .header .image-slider .controls button svg path {
  fill: var(--mine-shaft);
  transition: fill 0.3s;
}
.content.about-me .header .image-slider .controls button:hover {
  background: var(--mine-shaft);
}
.content.about-me .header .image-slider .controls button:hover svg path {
  fill: var(--spring-wood);
}
.content.about-me .header .image-slider .container {
  height: 100%;
  width: 300%;
  display: flex;
  position: relative;
  left: 0%;
  transition: left 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
.content.about-me .header .image-slider .container .image {
  height: 100%;
  aspect-ratio: 1;
}
.content.about-me .header .image-slider .container .image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.content.about-me .header .right h3 {
  font-family: "Space Mono", monospace;
  letter-spacing: -2px;
  font-size: 1.75em;
}
.content.about-me .header .right h3::after {
  content: "";
  display: block;
  height: 1px;
  width: 1em;
  background: #000;
  margin: 8px 0 0.35em;
}
.content.about-me .header .right .desc {
  font-family: "Space Mono", monospace;
  font-size: 0.8em;
  border-bottom: 1px solid var(--mine-shaft);
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}
.content.about-me .header .right .body {
  font-size: 1.1em;
  line-height: 1.5;
}
.content.about-me .header .right .cta {
  padding-top: 2em;
}
.content.about-me .header .right .cta a {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--mine-shaft);
  color: var(--white);
  text-decoration: none;
  padding: 0.6em 2em;
  border-radius: 10000px;
}
.content.about-me .header .right .cta a svg {
  display: inline-block;
  vertical-align: middle;
  height: 1.2em;
  width: auto;
  margin-left: 0.15em;
  position: relative;
  transform: translateY(-0.1em);
}
.content.about-me .header .right .cta a svg path {
  fill: var(--white);
}
.content.about-me .skills {
  margin: 0 var(--small-padding);
  padding-top: 8em;
  display: flex;
  gap: 2.5em;
}
@media (max-width: 767px) {
  .content.about-me .skills {
    flex-direction: column;
    gap: 1em;
    padding-top: 4em;
  }
}
.content.about-me .skills .left {
  background-color: var(--mine-shaft);
  color: var(--white);
  height: fit-content;
  width: fit-content;
  padding: 4em 1em 1em;
}
.content.about-me .skills .left p {
  font-family: "Space Mono", monospace;
  letter-spacing: -1px;
}
.content.about-me .skills .right {
  flex: 1;
  padding-top: 2em;
}
@media (max-width: 767px) {
  .content.about-me .skills .right {
    padding-top: 0;
    padding-bottom: 4em;
  }
}
.content.about-me .skills .right .skill {
  position: relative;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 1.5em 0;
  border-bottom: 1px dotted var(--mine-shaft);
  margin-bottom: 1.5em;
}
.content.about-me .skills .right .skill:last-child {
  margin-bottom: 0;
}
.content.about-me .skills .right .skill h4 {
  font-size: 1.75em;
  font-family: "Space Mono", monospace;
  font-weight: 300;
}
.content.about-me .skills .right .skill .progress {
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--mine-shaft);
  bottom: -1px;
}
.content.about-me .testimonials {
  margin-left: var(--small-padding);
  margin-right: var(--small-padding);
}
.content.about-me .testimonials h4 {
  font-family: "Space Mono", monospace;
  font-size: 0.8em;
  font-weight: 400;
  border-top: 1px solid var(--mine-shaft);
  padding-top: 2em;
  padding-bottom: 3em;
}
.content.about-me .testimonials .container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1.5em;
}
.content.about-me .testimonials .container .card {
  background-color: var(--white);
  padding: 2em 1.5em;
  width: 45%;
}
.content.about-me .testimonials .container .card .author {
  font-weight: 600;
  padding-top: 2em;
}
.content.about-me .clients {
  margin-top: 4em;
  margin-left: var(--small-padding);
  margin-right: var(--small-padding);
}
.content.about-me .clients h4 {
  font-family: "Space Mono", monospace;
  font-size: 0.8em;
  font-weight: 400;
  border-top: 1px solid var(--mine-shaft);
  padding-top: 2em;
  padding-bottom: 3em;
}
.content.about-me .clients .container {
  height: 100px;
}
.content.about-me .clients .container .scroller {
  max-width: 100%;
  height: 100%;
}
.content.about-me .clients .container .scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  height: 100%;
}
.content.about-me .clients .container .scroller__inner .item {
  height: 100%;
  width: auto;
}
.content.about-me .clients .container .scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.content.about-me .clients .container .scroller[data-animated=true] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}
.content.about-me .clients .container .scroller[data-direction=right] {
  --_animation-direction: reverse;
}
.content.about-me .clients .container .scroller[data-direction=left] {
  --_animation-direction: forwards;
}
.content.about-me .clients .container .scroller[data-speed=fast] {
  --_animation-duration: 20s;
}
.content.about-me .clients .container .scroller[data-speed=slow] {
  --_animation-duration: 60s;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.content.about-me footer {
  margin-top: 5em;
  margin-left: var(--small-padding);
  margin-right: var(--small-padding);
}
@media (max-width: 960px) {
  .content.about-me footer {
    display: none;
  }
}
.content.about-me footer p {
  font-family: "Space Mono", monospace;
  font-size: 0.8em;
  font-weight: 400;
  border-top: 1px solid var(--mine-shaft);
  padding: 2em 0;
  text-align: right;
}
.content.about-me .space {
  height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
