$tablet-breakpoint: 960px;
$mobile-breakpoint: 767px;
$small-breakpoint: 480px;

:root {
  --mobile-nav-width: 0px;
  --aside-width: 70px;

  --mine-shaft: rgba(34, 34, 34, 1);
  --mine-shaft-0: rgba(34, 34, 34, 0);
  --spring-wood: rgba(247, 246, 241, 1);
  --white: rgba(255, 255, 255, 1);
  --white-80: rgba(255, 255, 255, 0.8);

  --container-padding: 70px;

  @media (max-width: $tablet-breakpoint) {
    --mobile-nav-width: 200px;
    --container-padding: 60px;
  }

  @media (max-width: $mobile-breakpoint) {
    --aside-width: 55px;
    --container-padding: 30px;
  }
}

$mobile-nav-width: var(--mobile-nav-width);
$aside-width: var(--aside-width);

$mine-shaft: var(--mine-shaft);
$mine-shaft-0: var(--mine-shaft-0);
$spring-wood: var(--spring-wood);
$white: var(--white);
$white-80: var(--white-80);

$open-sans: "Open Sans", sans-serif;
$poppins: "Poppins", sans-serif;
$space-mono: "Space Mono", monospace;

$container-padding: var(--container-padding);
