@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  background-color: $spring-wood;
  color: $mine-shaft;
}

.body-wrapper {
  height: 100%;
  width: calc(100vw + $mobile-nav-width);
  display: flex;
  position: relative;
  left: calc(-1 * $mobile-nav-width);

  nav {
    height: 100%;
    width: $mobile-nav-width;
    overflow: hidden;
  }

  main {
    flex-grow: 1;
    display: flex;

    .page-content {
      height: 100%;
      flex-grow: 1;
    }
  }
}

@import "components/aside";
