aside {
  width: $aside-width;
  height: 100%;
  border-right: 1px solid $mine-shaft;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .logo {
    .burger {
      display: none;
      padding: 1em 0;
      border: 0;
      border-bottom: 1px solid $mine-shaft;
      width: 100%;
      background-color: inherit;
      outline: none;
      cursor: pointer;

      span {
        display: block;
        position: relative;
        background-color: $mine-shaft;
        height: 2px;
        width: 1.2em;
        margin: 0.25em auto;
        transition: transform 0.1s;
      }

      &.active {
        span:nth-child(1) {
          transform: translateY(calc(0.25em + 2px)) rotate(-40deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: translateY(calc(-0.25em - 2px)) rotate(40deg);
        }
      }

      @media (max-width: $tablet-breakpoint) {
        display: block;
      }
    }

    a {
      display: block;
      width: 100%;
      margin: 1.5em 0;

      img {
        display: block;
        width: 50%;
        height: auto;
        margin: 0 auto;
      }

      @media (max-width: $tablet-breakpoint) {
        margin: 1em auto;
      }
    }
  }

  .social {
    a {
      display: block;
      width: 100%;
      aspect-ratio: 1;
      border-top: 1px solid $mine-shaft;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.2s;

      svg {
        width: 40%;
        height: auto;
        display: block;

        path {
          transition: fill 0.2s;
        }
      }

      &:hover {
        background-color: $mine-shaft;

        svg path {
          fill: $spring-wood;
        }
      }
    }
  }
}
